
# Change the hostname for your own project
hostname: "symfony-vagrant-docker-example"

# Change the IP to make sure that every project on your machine gets his own IP. You can choose anything in the range "192.168.x.x"
ip: "192.168.122.33"

# Change this to simplify finding your project in the VirtualBox UI
vm_name: "vagrant-docker-example"

# Use "nfs" when running on a Mac
# Use "rsync" for Windows
shared_folder_type: "nfs"

# This is only needed if you run this on a Windows machine and you used "rsync" as shared folder type
# Here you define the files you want to exclude from the sync process
rsync_exclude:
- ".git/"
- ".idea/"
- "var/cache/*"
- "var/logs/*"
- "var/sessions/*"
- "app/config/parameters.yml"
- "run/data/log/nginx/*"
- "run/data/log/supervisor/*"

# The resources you want this VM box to acquire
# Attention: Make sure you have enough RAM when running several Vagrant boxes at once
vm_memory: 1024
vm_cpus: 2
